@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<dynamic>

@{
  ViewBag.Title = "Error";
}
<div class="jumbotron">
  <div class="container">
      <h1>@Request.Query.error</h1>
      <code>
          @Request.Query.error_description
      </code>
  </div>
</div>
